<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Noted</title>
    <div id="app">mylist</div>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="../src/note-model.js"></script>
    <script type="text/javascript" src="../src/note-list-model.js"></script>
    <script type="text/javascript" src="../src/note-list-view.js"></script>
    <script type="text/javascript" src="../src/note-controller.js"></script>
    <script type="text/javascript" src="../test/note-model-test.js"></script>
    <script type="text/javascript" src="../src/interface.js"></script>
  </head>
  <body></body>
</html>
